.canvas-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.sidebar {
  width: 280px;
  height: 100%;
  display: flex;
  top: 0;
  flex-direction: column;
  background: #7159C1;
  color: #fff;
  padding: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  transition: all 0.2s;
  position: absolute;
  left: -230px;
}

.sidebar:hover {
  left: 0;
}

.sidebar h1 {
  margin-bottom: 10px;
}

.sidebar div.list-container {
  height: calc(100% - 180px) !important;
}

.sidebar .scrollbar {
  height: 100%;
  margin-top: 10px;
}

.sidebar ul.canvas-list {
  list-style: none;
}

.sidebar ul.canvas-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.2s;
  border-left: 5px solid #EBE5FF;
  background: #fff;
  color: #666;
}

.sidebar ul.canvas-list li::after {
  font-family: FontAwesome;
  content: "\F105";
  color: #999;
}

.sidebar ul.canvas-list li strong {
  font-size: 15px;
}

.sidebar ul.canvas-list li p {
  color: #999;
  font-size: 13px;
  margin-top: 3px;
}

.sidebar ul.canvas-list li.active {
  background: #5E4BA8;
  border-color: #5E4BA8;
  color: #fff;
}

.sidebar ul.canvas-list li.active p {
  color: rgba(255, 255, 255, 0.6);
}

.sidebar ul.canvas-list li:hover:not(.active) {
  transform: translateX(5px);
}

.sidebar .buttons .profile {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .buttons .profile .logout-button {
  width: auto;
}

.sidebar .buttons .profile .info {
}

.sidebar .buttons .profile p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 160px;
}

.sidebar .buttons .profile a {
  color: #EBE5FF;
  text-decoration: none;
  font-size: 14px;
}

.board {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #FFF;
  border-radius: 8px;
  color: #333;
  padding: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  margin-left: 50px;
}

.board header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board header input {
  font-size: 24px;
  color: #333;
  font-weight: 700;
  border-bottom: 1px dashed #ddd;
  padding: 3px 0;
}

.board header input:hover {
  border-color: #aaa;
}

.board header div.board-title i {
  color: #999;
  font-size: 16px;
  margin-left: 10px;
}

.board header div.buttons {
  display: flex;
}

.board header div.buttons .button {
  margin-left: 10px;
}

.board header div.buttons .button:first-child {
  margin-left: 0;
}

.board .loading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #ccc;
}

.board .not-selected {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #ccc;
}

.board .canvas {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.board .canvas .line {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.board .canvas .line .column {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ddd;
}

.board .canvas .line .column:last-child {
  border-right: 1px solid #DDD;
}

.board .canvas .line .column .quadrant:last-child {
  border-top: 1px solid #DDD;
}

.board .canvas .line .column .quadrant.sub {
  border-top: 1px dashed #eee;
}

.board .canvas .quadrant {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin: 0 20px;
}

.board .canvas .line:last-child {
  max-height: 200px;
  border-top: 1px solid #DDD;
  border-left: 1px solid #DDD;
}

.board .canvas .line:last-child .quadrant {
  border-right: 1px solid #DDD;
  margin: 0;
}

.board .canvas .line:last-child .quadrant {
  padding: 20px;
}

.board .canvas .quadrant strong {
  color: #666;
}

.board .canvas .quadrant textarea {
  margin-top: 10px;
  border: 0;
  resize: none;
  font-size: 14px;
  height: 100%;
  max-width: 100%;
  min-width: 50px;
  line-height: 20px;
}
